<!-- @import </public/css/app.css> app-->
<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<head>
<script src ="app.js"></script>
</head>
<body>
<h1>Posts</h1>
<div>
    <a class="button" href ="/posts/create">Create post</a>
    <button id="changeColourButton" class="button" >Colour Change</button>
</div>
<ol>
    <% postList.results.forEach(function(post) {%>
    <div>
        <li class="postList"  >
            <p class="postMessage"><%= post.message %> </p>
            <p class= "postDate"><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %> </p>                   
            <img class ="img" src = "<%= post.imageUrl %>" />             
            <p class="postedBy">Posted By: <%= post.postedBy.name %> - <%= post.postedBy.email %></p>            
            <p class="postedBy">Liked By: <%= post.likedBy.length %> Disliked By: <%= post.dislikedBy.length %></p> 
        </li>
    </div>       
    <% }); %>
</ol>
<%if (postList.previous) { %>
    <a class="link" href="<%= postList.previous %>">Previous</a>
<% } %>
<%if (postList.next) { %>
    <a class="link" href="<%= postList.next %>">Next</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>