<!-- @import </public/css/app.css> -->
<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<head>
    <link rel="stylesheet" href=".public/css/app.css">
</head>
<body>
<h1>Posts</h1>
<div>
    <button onclick="location.href='/posts/create'">Create post</button>
</div>
<ol>
    <% postList.results.forEach(function(post) {%>
    <div>
        <li>
            <p class=""><%= post.message %> - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %> </p>                   
            <img src = "<%= post.imageUrl %>" />             
            <p>Posted By: <%= post.postedBy.name %> - <%= post.postedBy.email %></p>            
            <p>Liked By: <%= post.likedBy.length %></p>                     
            <p>Disliked By: <%= post.dislikedBy.length %></p>                                     

        </li>
    </div>       
    <% }); %>
</ol>
<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>