<!-- @import </public/css/app.css> app-->
<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<head>
<script src ="app.js"></script>
</head>
<body>
<h1>Posts</h1>
<div>
    <a class="link-Button" href ="/posts/create">Create post</a>
</div>
    <button id="changeColourButton" >Colour Change</button>
<ol>
    <% postList.results.forEach(function(post) {%>
    <div>
        <li class="postList" id="postListId">
            <p class="postMessage"><%= post.message %> - <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %> </p>                   
            <img class ="img" src = "<%= post.imageUrl %>" />             
            <p class="postedBy">Posted By: <%= post.postedBy.name %> - <%= post.postedBy.email %></p>            
            <p class="likes">Liked By: <%= post.likedBy.length %></p>                     
            <p class="likes">Disliked By: <%= post.dislikedBy.length %></p> 
        </li>
    </div>       
    <% }); %>
</ol>
<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>